<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Form</title>
</head>
<body>
<div class='form'>
            <form method='POST' action=''>
                <!-- provides CRSF protection, alongside secret key. Use on all POST forms -->
                {{ form.hidden_tag() }}
                {{ form.first_name.label }} {{ form.first_name }}
                <br>
                {{ form.last_name.label }} {{ form.last_name }}
                <br>
                {{ form.submit }}
            {{ message }}
            </form>
        </div>
</body>
</html>

