{% extends "layout.html" %}
{% block body_content %}
<h3>Person and Car Details</h3>
<p>{{person.first_name}} {{person.last_name}}</p>
<div class="error_message">{{message}}</div>
<div>
    <p>Name: {{person.first_name}} {{person.last_name}}</p>
</div>
<div>
    {% for car in person.cars %}
    <ul>
        <li>Car details: {{car.number_plate}} Make: cd{{car.make}} Model: {{car.model}} Colour: {{car.colour}}</li>
    </ul>
{% endfor %}
</div>
{% endblock %}
{% block footer_content %}
<footer>
     &copy; 2021
</footer>
{% endblock %}


